@media screen and (max-width:900px){
    .flex__article{}
    .flex__article-image{width:100%;}
    .flex__texto{
        bottom:0%;
        position:fixed;
    }

}

@media screen and (max-width:500px){
    .flex__article-image{width:100%;}
}